<form (ngSubmit)="createContact()">
  <h2> Novo Contato</h2>

  <div>
    <label for="name"> Name</label>
    <input id="name" type="text" [(ngModel)]="name" name="name">
  </div>

  <div>
    <label for="email"> Email</label>
    <input id="email" type="text" [(ngModel)]="email" name="email">
  </div>

  <div>
    <label for="telephone"> Telefone</label>
    <input id="telephone" type="text" [(ngModel)]="telephone" name="telephone">
  </div>

  <button type="submit"> Adicionar </button>
</form>
