
<section class="container">
  <form class="formulario" (ngSubmit)="createContact()">
    <h2> Novo Contato</h2>

    <div class="form-field">
      <label for="name"> Name</label>
      <input id="name" type="text" [(ngModel)]="name" name="name">
    </div>

    <div class="form-field">
      <label for="email"> Email</label>
      <input id="email" type="text" [(ngModel)]="email" name="email">
    </div>

    <div class="form-field">
      <label for="telephone"> Telefone</label>
      <input id="telephone" type="text" [(ngModel)]="telephone" name="telephone">
    </div>
    <div class="botao-wrapper">
    <button class="botao" type="submit"> Salvar </button>
  </div>
  </form>
</section>
