
<section>
  <h2 class="=title"> Contatos</h2>
  <mat-list>
    <mat-list-item *ngFor="let contato of contatos">
      <div matLine>
        <p> {{contato.name}}</p>
        <p mat-line>
          <span> {{contato.email}}</span>
          <span> | </span>
          <span> {{contato.telephone_number}} </span>
        </p>
      </div>
        <mat-icon (click)="onEdit(contato)">edit</mat-icon>
        <mat-icon (click)="delete(contato)">delete_outline</mat-icon>
  </mat-list-item>
</mat-list>
</section>



