

.mat-list {
  margin: 10px;
}

.mat-list-item {
  background-color: #CDC9C9;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #DAE0E6;
}

.title {
  align-items: center;
  text-align: center;
  background-color: brown;
}

.h2 {
  text-align: center;
}
